.super-mario {
    width: 200px;
    position:absolute
    
  }  
  .goomba {
    width: 100px;
    position:absolute;
    top: 350px;
    left: 71px;
  } 
  .baloon {
    width: 200px;
    position:absolute;
    left: 200px;
    top: 100px; 
  }  
  .speach {
    font-size: 25px;
  }  
  .bowser {
    width: 200px;
    position:absolute;
    left: 370px;
    top: 200px;
  }
  p {
    width: 200px;
    position:absolute;
    left: 230px;
    top: 100px; 
    z-index: 1;

  }